/* UsersTable_start */
.users_table {
  width: 100%;
  height: 464px;
  border-radius: 24px;
  padding: 24px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-color:1px solid #3376c7;
}

.users_table_tr {
  height: 40px;
  background-color: #ffb84d;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.table_btn {
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
.downoutline {
  font-size: 20px;
  position: relative;
  top: 5px;
}
.users_table_number {
  width: 10%;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  text-align: start;
  padding-left: 16px;
}

.users_table_fuulname {
  width: 30%;
  height: 40px;
  padding: 8px, 16px, 8px, 16px;
  text-align: start;
}

.users_table_telephone {
  width: 30%;
  height: 40px;
  padding: 8px, 16px, 8px, 16px;
  text-align: start;
}

.users_table_roles {
  width: 20%;
  height: 40px;
  padding: 8px, 16px, 8px, 16px;
  text-align: start;
}
.users_table_actions {
  width: 10%;
  background-color: #ffb84d;
  color: #ffb84d;
  border-radius: 0px 8px 8px 0px;

}

.table__icon {
  width: 28px;
  height: 28px;
  font-size: 16px;
  border-radius: 4px;
  background: #e6eef8;
  color: #3376c7;
}

.table__pen {
  width: 28px;
  height: 28px;
  font-size: 15rem;
  border-radius: 4px;
  background: #fff8ee;
  color: #ffb84d;
}
.table__delete {
  width: 28px;
  height: 28px;
  font-size: 15px;
  border-radius: 4px;
  background: #ffe6e6;
  color: #ff0000;
}
.table__btn {
  height: 28px;
}

.td_icon {
  display: flex;
  gap: 8px;
}

.total_content {
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.content_teble {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}
.custom-pagination .MuiPaginationItem-root.Mui-selected {
  background-color: rgb(255, 255, 255);
  color: #ffb84d;
  border-color: #ffb84d;
}
