tbody,tr {
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.Props_number {
  text-align: start;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  left: 16px;
}
.Props_fuulname {
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.Props_telephone {
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.Props_roles {
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
