.title {
  width: 100%;

  color: rgb(153, 153, 153);
  font-family: Golos, sans-serif; /* Убедитесь, что шрифт Golos доступен */
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between; /* Исправлено на flex-end */

  display: flex;
  align-items: center; /* Выравнивание по центру */
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
  color: rgb(26, 26, 26); /* Цвет иконки, чтобы она была видна на темном фоне */
}

/* ModalTable.css */

.modal_deleteicon {
  font-size: 20px;
  color: #ff0000;
  width: 28px;
  height: 28px;
  background-color: #ffe6e6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* ModalTable.css */

.modal_btn_del {
  display: flex;
  gap: 16px; 
  margin-top: 24px;
  justify-content: end;
}
.modal-description {
    color: rgb(51, 51, 51);
    font-family: Golos, sans-serif; /* Убедитесь, что шрифт Golos доступен */
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 24px;
  }
  
.modal_btn_del button {
  width: 227px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: 14px;
  font-family: Golos, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  border: none; /* Убираем стандартный бордер */
  cursor: pointer; /* Курсор для кнопки */
}

.modal_btn_del .cancel-button {
  background: rgb(240, 240, 240); /* Нейтральный фон */
  color: rgb(26, 26, 26); /* Тёмный текст */
}

.modal_btn_del .delete-button {
  background: rgb(255, 165, 0); /* Оранжевый фон */
  color: rgb(255, 255, 255); /* Белый текст */
}

/* ModalTable.css */

.modal-container {
  position: absolute;
  padding: 16px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 760px;
  border-radius: 16px;

  border-radius: 16px;

  box-shadow: -6px 0px 16px 0px rgba(6, 22, 38, 0.07);
  background: rgb(255, 255, 255);
}


.modal_ImCancelCircle{
    font-size: 20px;
}


.modal_AiOutlineDelete{
    font-size: 20px;
   
}