.users_search_wrapper {
    width: 100%;
    border-radius: 15px;
    height: 96px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 38px 7px rgba(108, 108, 108, 0.19);
    -moz-box-shadow: 0px 0px 38px 7px rgba(108, 108, 108, 0.19);
    box-shadow: 0px 0px 38px 7px rgba(108, 108, 108, 0.19);
    padding: 24px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users_search_left {
    display: flex;
    align-items: center;
}

.users_search_inp {
    width: 316px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10;
    padding-left: 50px;
    padding-top: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 18px;
    background: rgb(255, 255, 255);
    color: rgb(179, 179, 179);
    font-family: "Golos Text", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    transition: 0.3s;
}

.users_search_inp:focus {
    -webkit-box-shadow: 0px 0px 38px 7px rgba(108, 108, 108, 0.19);
    -moz-box-shadow: 0px 0px 38px 7px rgba(108, 108, 108, 0.19);
    box-shadow: 0px 0px 38px 7px rgba(108, 108, 108, 0.19);
    outline: none;
}

.users_search_input_container {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 30px;
}

.users_search_left_filter {
    width: 128px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    border: none;
    background: rgb(240, 240, 240);
    color: rgb(26, 26, 26);
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
}

.users_search_right_add_button {
    position: static;
    width: 164px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    margin: 0px 10px;
    border-radius: 18px;
    background: rgb(240, 240, 240);
    color: rgb(26, 26, 26);
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    border: none;
}

.users_search_right_add_icon {
    font-size: 30px;
}