.navbar {
    width: 320px;
    padding: 20px;
    background: rgb(250, 250, 250);
    height: 100vh;
}

.navbar_title {
    color: rgb(179, 179, 179);
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 30px;
}

.navbar_link {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    font-family: "Golos Text";
}

.navbar_icon {
    color: rgb(51, 51, 51);
    font-size: 25px;
}

.navbar_text {
    color: rgb(51, 51, 51);
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.navbar_text:hover {
    color: #3376C7;
}

.navbar_link:hover .navbar_icon {
    color: #3376C7;
}