* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 20px;
}

.global_wrapper {
    display: flex;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    background: rgb(250, 250, 250);
}